<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		   	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/style.css" />
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="/app.js"></script>
		<title>Web Scraping</title>
	</head>
	<body >
		{{{ body }}}
		<h1>Web Scraping Data: Hacker News</h1>
		<div id="articles"></div>
	</body>
</html>
