{{#css}}
  <link rel="stylesheet" href="{{@path}}">
{{/css}}
<button type="button" class="btn btn-default navbar-btn scrape" href="/scrape">Scrape</button>
<h2 class="hello"> An Exercise in WebScraping: Hacker News </h2>


